* {
    box-sizing: border-box;
    margin: 0;
}
@font-face {
    font-family: "Poppins";
    src: url('../Poppins/Poppins-Light.ttf');}

body {
    font-family: "Roboto", sans-serif;
}

/* Header */

.nav-container{
    background:#C48E60;
}
.nav-bar {
    height: 50px;
}

.logo {
    padding-left: 20px;
    padding-top: 10px;
    width: 30%;
}
.logo img{
    width: 10%;
}

.wrapper {
    max-width: 1920px;
    background:#C48E60;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

.nav-items li {
    list-style: none;
    margin-right: 20px;
}

.nav-items li a {
    color: #111111;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
}
p{
    margin : 0, 5%, 5%, 0;
    font-size:medium;
    text-align: justify;
    font-family: 'Poppins';
    color: #111111;
}
.activity{
    background: linear-gradient(#A34F10, #C48E60);
    color: #ffff;
    display:block;
    padding-left:5%;
    padding-right: 5%;
}
.judul{
    flex-basis: 100%;
    position: relative;
    width: 100%;
    font-family: 'Inter';
    font-size: 40px;
    height: 100px;
    letter-spacing: 3px;
    word-spacing: 5px;
    padding-top: 20px;
}
.main{
    flex-basis: 50%;
    position: relative;
    background-color:#C48E60;
    padding: 2% ;
    margin-right: 20px;
    border-radius: 30px;
    margin-bottom: 30px;
}
.main h1{
    line-height: 200%;
    color: #111111;
    font-size:3ch;
}
.main img{
    margin-left: 25%;
    border-color:#111111;
    max-width:50%;
}
.btn{
    margin-left: 75%;
    border-color:#FFFFFF;
    border-radius:30px;
    width: 100px;
    height: 35px;
    font-family: 'Poppins';
    box-shadow:5px 5px gray;
}
.others{
    overflow-y: scroll;
    flex-basis: 50%;
    display:block;
    margin-bottom: 30px;
    position:relative;
    flex-direction:row;
    background-color: #FFFFFF;
    color: #111111;
    box-sizing: border-box;
    width: auto;
    height: 415px;
}

.activity-col{
    flex-flow: row nowrap;
    align-items: center;
    display: inline-flex;
    padding: 3%;
    margin: 2%;
}
.activity-col img{
    max-width: 50%;
    padding: 2%;
}
footer {
    background: #373737;
    box-shadow: 0px -20px 20px rgba(0, 0, 0, 0.2);
    padding-top: 35px;
    padding-bottom: 25px;
    padding-left: 95px;
}

footer h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    /* or 120% */
    letter-spacing: 0.05em;

    color: #FFFFFF;

    opacity: 0.25;
    margin-bottom: 10px;
}

footer .media-sosial img {
    width: 40px;
}

.dropbtn {
    background-color: transparent;
    border: none;
    color: #111111;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #C48E60;
    z-index: 1;
}

.dropdown-content a {
    /* color: black; */
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    /* font-size: small; */
    color: #111111;
    font-family: 'Poppins';
    font-style: normal;
    /* font-weight: 500;
    text-size-adjust: 10px; */
    /* line-height: 24px; */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}