* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Header */

.background {
    background-image: url('../../images/background.png');
    background-repeat: no-repeat;
    background-size: 100% 85.5%;
}

.nav-container {
    /* background-color: #c6aa92 153.17%; */
}

.nav-bar {
    height: 90px;
}

.logo {
    padding-left: 50px;
    padding-top: 10px;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

.nav-items li {
    list-style: none;
    margin-right: 20px;
}

.nav-items li a {
    color: #111111;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.isi {
    margin: 5%;
    /* border-radius: 40px; */
    /* background-color: #ffff;
    opacity: 0.4; */
    display: flex;
}

.isi::after {
    content: "";
    background-color: #ffff;
    border-radius: 40px;
    position: absolute;
    top: 27%;
    bottom: -16%;
    left: 63px;
    right: 63px;
    opacity: 0.2;
}

.isi img {
    width: 43%;
    padding: 5%;
    /* float: unset; */
}

.isi .deskripsi-sultan {
    color: #FFFF;
    font-weight: bold;
    margin-top: 7%;
}

.deskripsi-sultan p {
    margin-top: 9%;
}

.footer {
    background: #373737;
    /* box-shadow: 0px -20px 20px rgba(0, 0, 0, 0.2); */
    padding-top: 2.5%;
    padding-bottom: 2%;
    padding-left: 7%;
    margin-top: 0%;
}

.footer h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    /* or 120% */
    letter-spacing: 0.05em;

    color: #FFFFFF;

    opacity: 0.25;
    margin-bottom: 10px;
}

.footer .media-sosial img {
    width: 40px;
}   

.dropbtn {
    background-color: transparent;
    border: none;
    color: #111111;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #C48E60;
    z-index: 1;
}

.dropdown-content a {
    /* color: black; */
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    /* font-size: small; */
    color: #111111;
    font-family: 'Poppins';
    font-style: normal;
    /* font-weight: 500;
    text-size-adjust: 10px; */
    /* line-height: 24px; */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}